/*!
 * Flexgrid.css by axiomzen.co - github.com/axiomzen/flexgrid.css
 * License - MIT
 */

.Grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  -ms-flex: 1;
  flex: 1;
}

.Grid-cell--xs {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 320px) {
  .Grid-cell--xs {
    -ms-flex: 1;
    flex: 1;
  }
}


.Grid-cell--xs-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.Grid-cell--xs-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.Grid-cell--xs-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 320px) {

  .Grid-cell--xs-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .Grid-cell--xs-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .Grid-cell--xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.Grid-cell--md {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  .Grid-cell--md {
    -ms-flex: 1;
    flex: 1;
  }
}

.Grid-cell--lg {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 840px) {
  .Grid-cell--lg {
    -ms-flex: 1;
    flex: 1;
  }
}

@media (min-width: 840px) {
  .Grid-cell--lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .Grid-cell--lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 840px) {
  .Grid-cell--lg-offset-4 {
    margin-left: 33.33333%;
  }
  .Grid-cell--lg-offset-8 {
    margin-left: 66.66667%;
  }
}

.Grid--gutter-xs {
  margin-top: -0.625rem;
  margin-left: -0.625rem;
}

.Grid--gutter-xs > [class^='Grid-cell'] {
  padding-top: 0.625rem;
  padding-left: 0.625rem;
}

.Grid--gutter-sm {
  margin-top: -1.25rem;
  margin-left: -1.25rem;
}

.Grid--gutter-sm > [class^='Grid-cell'] {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}

*,
:after,
:before {
  box-sizing: border-box;
}

/*FAQ-NAV*/
.Faq-nav {
  margin-top: 60px;
}


.Faq-nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Faq-nav-item {
  display: block;
  margin-bottom: 2rem;
  background-color: white;
  width: fit-content;
}

.Faq-nav-link {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  transition: box-shadow 0.3s ease-out 0.1s, transform 0.3s ease-out;
  transform: scale(1);
}

@media (min-width: 840px) {
  .Faq-nav-link {
    max-width: 26rem;
  }
}

.Faq-nav-link:hover .Faq-nav-title {
  color: #5e60ba;
}

.Faq-nav-title {
  font-family: canada-type-gibson, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  color: #333d47;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.Faq-nav-description {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  line-height: 1.5;
  line-height: 1.2;
  color: #6c718b;
}

@media (min-width: 840px) {
  .Faq-nav-item.is-active .Faq-nav-link {
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 2.6rem 1.2rem rgba(94, 96, 186, 0.15);
  }
}

.Faq-section {
  margin-bottom: 4rem;
  padding: 2rem 0;
  background-color: white;
  margin-top: 60px;
}

.Faq-section:last-child {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .Faq-section {
    margin-bottom: 8rem;
    padding: 4rem;
  }
}

.Faq-section-header {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .Faq-section-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.Faq-section-title {
  font-family: canada-type-gibson, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  letter-spacing: -0.01rem;
  line-height: 1.2;
  line-height: 1;
  margin-left: 1rem;
}

@media (min-width: 640px) {
  .Faq-section-title {
    margin-left: 0;
  }
}

.Faq-section-subTitle {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  color: #6c718b;
}

@media (min-width: 640px) {
  .Faq-section-subTitle {
    margin-left: 0;
  }
}

.Faq-item {
  border-bottom: 0.1rem solid #f2f3fa;
  transition: all 0.3s ease-out;
}

.Faq-item:last-child {
  border-bottom: none;
}

.Faq-item-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: canada-type-gibson, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  line-height: 1;
  padding: 1rem;
  color: rebeccapurple;
  cursor: pointer;
}

.Faq-item-title span {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 640px) {
  .Faq-item-title {
    padding: 2rem;
  }
}

.Faq-item-action {
  margin-left: 2rem;
}

.Faq-item-action .stroke--h,
.Faq-item-action .stroke--v {
  stroke-opacity: 1;
}

.Faq-item-content {
  padding: 0 1rem 4rem;
}

.Faq-item-content .GeneralContent address,
.Faq-item-content ol,
.Faq-item-content p,
.Faq-item-content ul,
.GeneralContent .Faq-item-content address {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  color: #6c718b;
  margin-bottom: 1rem;
}

.Faq-item-content .GeneralContent address:last-child,
.Faq-item-content ol:last-child,
.Faq-item-content p:last-child,
.Faq-item-content ul:last-child,
.GeneralContent .Faq-item-content address:last-child {
  margin-bottom: 0;
}

.Faq-item-content li {
  margin: 0.5rem 0;
}

.Faq-item-content img {
  display: block;
  margin: 1rem 0 2rem;
}

.Faq-item-content strong {
  font-weight: 600;
}

@media (min-width: 640px) {
  .Faq-item-content {
    padding: 0 2rem 4rem;
  }
}

.Faq-item.is-open .Faq-item-content {
  display: block;
}

.Faq-item.is-open .Faq-item-action .stroke--v {
  stroke-opacity: 0;
}



.Faq-expanded .Faq-section-header {
  margin-bottom: 3rem;
}

.Faq-expanded .Faq-item-content,
.Faq-expanded .Faq-item-title {
  padding-bottom: 1rem;
}

.Faq-expanded .Faq-item {
  border-bottom: none;
}

.Toggle-trigger {
  cursor: pointer;
  font-weight: bold;
}

.Toggle-content {
  display: none;
}

.Toggle.is-open .Toggle-content {
  display: block;
}

body,
html {
  height: 100%;
}

html {
  font-size: 10px;
}



.Container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.Container--lg {
  max-width: 108.6rem;
}
.Container--pad-md {
  padding: 0 2rem;
}
/*!
 * Flexgrid.css by axiomzen.co - github.com/axiomzen/flexgrid.css
 * License - MIT
 */

.Grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  -ms-flex: 1;
  flex: 1;
}
.Grid-cell--xs {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 320px) {
  .Grid-cell--xs {
    -ms-flex: 1;
    flex: 1;
  }
}

.Grid-cell--xs-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}


.Grid-cell--xs-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

@media (min-width: 320px) {
  .Grid-cell--xs-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .Grid-cell--xs-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

.Grid-cell--lg {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 840px) {
  .Grid-cell--lg {
    -ms-flex: 1;
    flex: 1;
  }
}

@media (min-width: 840px) {
  .Grid-cell--lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .Grid-cell--lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 840px) {
  .Grid-cell--lg-offset-4 {
    margin-left: 33.33333%;
  }
  .Grid-cell--lg-offset-8 {
    margin-left: 66.66667%;
  }
}

.Grid--gutter-xs {
  margin-top: -0.625rem;
  margin-left: -0.625rem;
}
.Grid--gutter-sm > [class^='Grid-cell'] {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}

.Grid--gutter-md {
  margin-top: -2.5rem;
  margin-left: -2.5rem;
}

.Grid--gutter-md > [class^='Grid-cell'] {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
}

.Grid--gutter-lg {
  margin-top: -4rem;
  margin-left: -4rem;
}

.Grid--gutter-lg > [class^='Grid-cell'] {
  padding-top: 4rem;
  padding-left: 4rem;
}

.Grid--gutter-xl {
  margin-top: -7.5rem;
  margin-left: -7.5rem;
}

.Grid--gutter-xl > [class^='Grid-cell'] {
  padding-top: 7.5rem;
  padding-left: 7.5rem;
}

.Release-nav-paragraphs-list.is-active .js-highlight-nav-link {
  color: #5e60ba;
}

.is-not-active{
  display: none;
}